@mixin create-box($box-type){
    @if $box-type == primary {
    border-bottom-right-radius: map-get($border-radius, primary);
    border-top-left-radius: map-get($border-radius, primary);
    background-color: map-get($colors, secondary);
    } @else if $box-type == secondary {
    border: map-get($border-radius, quaternary) map-get($border-shape, primary) map-get($colors,secondary);
    border-top: map-get($colors, quaternary);
    border-radius: map-get($border-radius, tertiary);
    } @else if $box-type == tertiary {
    background-color: map-get($colors, primary);
    border-radius: map-get($border-radius, primary);
    border: map-get($border-shape, secondary) map-get($colors, primary) map-get($border-radius, quinary);
    }@else if $box-type == quaternary {
    border: map-get($border-radius, quaternary) map-get($border-shape, primary) map-get($colors, secondary);
    border-top: map-get($colors, quaternary);
    border-left: map-get($colors, quaternary);
    border-radius: map-get($border-radius, tertiary);
    }@else if $box-type == quinary {
    border: map-get($border-shape, primary) map-get($colors, secondary) map-get($border-radius , quaternary);
    border-top: map-get($colors, quaternary);
    border-left: map-get($colors, quaternary);
    border-radius: map-get($border-radius, secondary);
    } @else {
        border: 0;
    }
}

