$color-text: #ffff;
$color-text-secondary: #252525;
$color-primary: #414141;
$color-secondary: #FF0000;
$color-tertiary: #252525;
$max-container-width: 90%;
$container-padding: 20px;
$container-margin: 0 auto;