$max-container-width: 90%;
$container-margin: 0 auto;
$color-text: (
    primary: #ffff,
    secondary: #252525,
);
$colors: (
    primary: #414141,
    secondary: #FF0000,
    tertiary: #252525,
    quaternary: #ffff,
);
$font-size: (
    nav: 1.5em,
    aside: 1.5em,
    primary: 4em,
    secondary: 3em,
    tertiary: 2em,
    btn: 1.5em,
    weight: 400,
    nav-query: 0.4em,
);
$padding: (
    container: 20px,
    title: 20px,
    title-2: 20px 0,
);
$border-radius: (
    primary: 2em,
    secondary: 2.5em,
    tertiary: 1.5em,
    quaternary: 0.75em,
    quinary: 0.5em,
);
$border-shape: (
    primary: solid,
    secondary: outset,
);
$grid-car: car--1, car--2, car--3, car--4, car--5, car--6;
$grid-model: model--1, model--2, model--3, model--4, model--5, model--6;