.proheader header{
    background-color: #414141;
}
.pronav nav {
        display: flex;
        align-items: center;
        img {
            height: 150px;
            width: 200px;
        }
        ul {
            display: flex;
            gap: 1em;
            padding-right: 1em;
            li {
                list-style: none;
                &:hover {
                    transform: scale(1.2);
                }
                a {
                    text-decoration: none;
                    transition: all 1s ease-out;
                }
                
            }
        }
}
.pronav__div div{
    display: flex;
    justify-content: space-between;
}