@media (max-width: 360px) {
    header {
        padding-bottom: 30px;
        width: 100%;
        nav {
            flex-direction: column;
            ul {
                padding: 0%;
                li {
                    font-size: map-get($font-size , nav-query);
                    justify-content: space-between;
                }
            
            }
        }
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pronav__div div{
        display: flex;
        justify-content: flex-start;
    }

    .title__div--circle {
        border-radius: map-get($border-radius, primary);
        padding: 0px;
        width: 90%;
        height: auto;
        h1 {
            font-size: map-get($font-size, tertiary);
            width: 100%;
            text-align: center;
            margin: 0;
            padding: map-get($padding, nav-query);
        }
    }


    .box {
        flex-direction: column;
        width: 60vw;
        gap: 20px;
        &__article {
            height: 300px;
        }
    }

    .div--title {
        width: 70vw;
        h2 {
            font-size: 2em;
        }
    }
    
    .brand {
        flex-wrap: nowrap;
        align-items: center;
        height: auto;
        &__article img {
            width: 250px;
            height: 200px;
        }
    }
    
    .model__container {
        max-height: 1600px;
        max-width: 200px;
        padding-top: 0px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
        grid-template-areas:
            "car--1"
            "model--1"
            "car--2"
            "model--2"
            "car--3"
            "model--3"
            "car--4"
            "model--4"
            "car--5"
            "model--5"
            "car--6"
            "model--6"
        ;
    }

    .products aside {
        margin: 50px 0 0 0;
    }

    .products--flex {
        gap: 40px;
        flex-direction: column;
    }

    .products__section--grid {
        gap: 40px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-template-areas:
            "product--1"
            "product--2"
            "product--3"
            "product--4"
            "product--5"
            "product--6"
            "product--7"
            "product--8"
            "product--9"
            "product--10"
            "product--11"
            "product--12"
        ;
        div {
            justify-content: center;
            width: 300px;
            padding: 0%;
            margin: 20px 0;
        }
    }

    .pilots__section--grid {
        max-height: 6500px;
        max-width: 100px;
        row-gap: 70px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(20, 1fr);
        grid-template-areas:
            "pilot--1"
            "pilot--2"
            "pilot--3"
            "pilot--4"
            "pilot--5"
            "pilot--6"
            "pilot--7"
            "pilot--8"
            "pilot--9"
            "pilot--10"
            "pilot--11"
            "pilot--12"
            "pilot--13"
            "pilot--14"
            "pilot--15"
            "pilot--16"
            "pilot--17"
            "pilot--18"
            "pilot--19"
            "pilot--20"
        ;
    }

    .central {
        flex-direction: column;
        &__article--flex{
            gap: 20px;
            h2 {
                font-size: map-get($font-size, title-query);  
            }
            p {
                font-size: map-get($font-size, principal-query);
            }
        }
        &__div {
            width: 100%;
            padding-top: 50px;
            img {
                border-radius: 0px;
                width: auto;
                height:150px;
            }
        }    
    }

    .headquarters {
        width: auto;
        height: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: 
            "local--1" 
            "local--2" 
            "local--3"
            "local--4" 
            "local--5" 
            "local--6"
        ;
        padding-top: 50px;
        .local--1, .local--2, .local--3, .local--4, .local--5, .local--6 {
            border: 0px;
            border-top: map-get($colors, tertiary) map-get($border-shape, primary);
        }
        p {
            font-size: map-get($font-size, text-query);
        }
    }

    .contact {
        flex-direction: column;
        width: 300px;
        height: 1000px;
        &__information {
            width: auto;
        }
        &__box--secundary textarea{
            width: 310px;
        }
    }

    .footer {
        padding: map-get($padding, footer);
        justify-content: center;
        margin-top: 50px;
    }
}