.title__div--circle {
    border-top-left-radius: 2em;
    display: inline-block;
    text-align: center;
    width: 25vw;
    height: 100px;
    padding-top: map-get($padding, title);
    @include create-box(primary);
}