.news {
    .title__div--circle {
        margin-bottom: 50px;
    }
}
.news--principal {
    max-width: 90vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "ad-1 ad-1 ad-1 ad-2 ad-3"
        "ad-1 ad-1 ad-1 ad-4 ad-5"
        "ad-1 ad-1 ad-1 ad-6 ad-7"
    ;
    img {
        width: auto
    };
}
@for $i from 1 through length($grid-ad) {
    .ad--#{$i}{
        grid-area: nth($grid-ad, $i);
    }
}