.news {
    .title__div--circle {
        margin-bottom: 50px;
    }

    div {
        gap: 10px;
        img {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.news--principal {
    display: grid;
    max-height: 1000px;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas: 
        "ad--1 ad--1 ad--2 ad--3"
        "ad--1 ad--1 ad--4 ad--5"
        "ad--1 ad--1 ad--6 ad--7"
    ;
    img {
        width: 380px;
        height: 220px;
    }
    h3 {
        font-size: map-get($font-size ,  quaternary);
    }
}
@for $i from 1 through length($grid-ad) {
    .ad--#{$i}{
        grid-area: nth($grid-ad, $i);
    }
}